version: "3"

# https://github.com/lloesche/valheim-server-docker
services: 
  valheim: 
    image: ghcr.io/lloesche/valheim-server
    cap_add:
      - sys_nice
    volumes: 
      - "./config:/config"
      - "./data:/opt/valheim"
    ports: 
      - "2456-2457:2456-2457/udp"
    env_file: ".env"
    environment:
      SERVER_NAME: "PoofWorld"
      WORLD_NAME: "PoofWorld"
      SERVER_PUBLIC: "false"
      TZ: "America/Vancouver"
      RESTART_CRON: "0 12 0 0 0"
      BEPINEX: "true"
    restart: always
    stop_grace_period: 2m